body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#111;
color:white;
padding:20px;
text-align:center;
}

#searchInput{
padding:10px;
width:60%;
margin-top:10px;
}

.categories{
margin-top:15px;
}

.categories button{
padding:10px;
margin:5px;
border:none;
cursor:pointer;
}

main{
max-width:900px;
margin:auto;
padding:20px;
}

.news{
background:white;
margin-bottom:20px;
padding:15px;
border-radius:6px;
}

.news img{
width:100%;
border-radius:6px;
}
